$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "animations.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

header {
  margin-bottom: 10px;
}

a,
a:hover {
  text-decoration: none;
}

footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  line-height: 30px;
  margin: 20px 0 0 0;
  a, a:hover {
    color: inherit;
  }
  img {
    max-height: 20px;
    margin: 5px;
  }
}

address {
  margin: 0;
}

.score-list {
  position: relative;
  padding: 0;
}

.state-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

  li {
    border: 0;
    margin: 0;
    padding: 0;

    &:nth-child(even) {
      background: rgba(0,0,0,.05);
    }

    a {
      color: inherit;
      display: block;
      padding: 10px;

      &:hover {
        background: rgba(0,0,0,.15);
      }

      div {
        display: block;
      }

    }

  }

  &.selectedStateId {

    top: 0;

    li {

      a {
        padding-left: 70px;

        &:hover {
          background: rgba(0,0,0,.1);
          .back-btn {
            background: rgba(0,0,0,.2);
          }
        }

        .back-btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          line-height: 60px;
          font-size: 20px;
          text-align: center;
        }

      }

    }

  }

}

.state-legend {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 11px;
  color: white;
  padding: 5px;
  background: white;
  border-top: 1px solid rgba(0,0,0,.25);
  z-index: 999;

  .value {
    float: left;
    width: 20%;
    display: block;
    font-weight: bold;
    text-align: center;
  }

}

.store-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 60px;
  right: 0;
  bottom: 25px;
  left: 0;
  overflow-y: scroll;
  border-top: 1px solid rgba(0,0,0,.25);

  li {
    border: 0;
    margin: 0;
    padding: 0;

    a {
      padding: 10px;
      color: inherit;
      display: block;
    }

    &:nth-child(odd) a {
      background: rgba(0,0,0,.05);
    }

    a:hover {
      background: rgba(44,123,182,1);
      color: white;
    }

  }

}

// Map

#map {

  svg {
    opacity: 1;
    transition: opacity 750ms;
  }

  svg.resizing {
    opacity: 0;
  }

  .state-borders {
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-linejoin: round;
  }

  .states {
    fill: rgba(0,0,0,.25);
    stroke: white;
    stroke-width: 0;
    stroke-linejoin: round;
  }

  .state {
    cursor: pointer;
    transition: fill 250ms;
    &.hovered {
      fill: #2c7bb6;
    }
  }

  .location {
    fill: rgba(0,0,0,0);
    transition: all 750ms;
    &.visible {
      fill: rgba(0,0,0,.5);
      stroke-width: 0;
      stroke: rgba(255,255,255,0);
    }
    &.hovered {
      stroke-width: .5px;
      stroke: white;
      fill: rgba(44,123,182,1);
      box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    }
  }

  .legend {
    font-size: 12px;
  }

}

#mapCanvas {
  width: 100%;
  height: 300px;
}

address {
  padding: 10px 0;
}

.form-group,
.input-group {
  width: 100%;
}

.pac-container {
  z-index: 9999;
}
