<div class="modal-header">
  <h3 class="modal-title">{{ location.longName }}</h3>
</div>
<div class="modal-body row">

  <div class="col-xs-12 col-sm-8">
    <div id="mapCanvas"></div>
  </div>

  <address class="col-xs-12 col-sm-4">
    {{ location.address }}<br ng-if="location.address" />
    {{ location.addressLineTwo }}<br ng-if="location.addressLineTwo" />
    {{ location.city }}, {{ location.state }} {{ location.postalCode }}<br ng-if="location.postalCode" />
    Store ID: {{ location.storeId }}<br ng-if="location.storeId" />
    {{ totalOrAverage | capitalize }} Sales: {{ location.metric }}<br ng-if="location.metric" />
    Region: {{ location.region }}<br ng-if="location.region" />
  </address>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
