<h4>Total Sales Numbers</h4>

<div id="map" class="col-sm-8"></div>

<div class="col-sm-4 score-list" style="height:{{ getSvgHeight() + 'px' }};">

  <div class="sort-panel" ng-if="!selectedStateId">
    <button class="btn btn-primary" ng-click="reverseOrder = !reverseOrder">
      <i class="glyphicon glyphicon-sort"></i>
      <span ng-if="!reverseOrder">Ascendeing By</span>
      <span ng-if="reverseOrder">Descending By</span>
    </button>
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{ comparatorLabel }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="sV in sortValues">
          <a href="" ng-click="updateSort(sV.v, sV.defaultToReverse, sV.label)">{{ sV.label }}</a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="list-group state-list" ng-class="{'selectedStateId':selectedStateId}">
    <li
      class="list-group-item"
      ng-repeat="score in scores | matchFIPS:selectedStateId | orderBy:comparator:reverseOrder"
    >
      <a
        href=""
        ng-click="clickState()"
        ng-mouseover="stateHover()"
        ng-mouseleave="stateHoverOut()"
        style="border-right: 5px solid {{ getStateColor( score[totalOrAverage] ) }};"
      >
        <strong>
          <i class="glyphicon glyphicon-zoom-out back-btn" ng-if="selectedStateId"></i>
          {{ score.stateName | capitalize }}
          <span class="badge pull-right">{{ score.tallies.length }} stores</span>
        </strong>
        <div ng-if="totalOrAverage == 'average'">
          Average Sales: {{ score[totalOrAverage] | number:2 }} per location
        </div>
        <div ng-if="totalOrAverage == 'total'">
          Total Sales: {{ score[totalOrAverage] }}
        </div>
      </a>
    </li>
  </ul>

  <div class="state-legend" ng-if="selectedStateId">
    <span class="value" ng-repeat="color in rangeColors" style="background:{{ color }};">
      {{ getStateRangeLabel(selectedStateId)[$index] }}
    </span>
  </div>

  <ul class="list-group store-list" ng-if="selectedStateId">
    <li
      class="list-group-item"
      ng-repeat="location in getLocations() | filter:{stateId:selectedStateId} | orderBy:'metric':true"
    >
      <a href=""
        ng-mouseover="locationHover()"
        ng-mouseleave="locationHoverOut()"
        ng-click="openLocation()"
        style="border-right: 5px solid {{ getScoreColor(location.metric, location.stateId) }};"
      >
        <span>{{ location.address }}<br ng-if="location.addressLineTwo"/>
        {{ location.addressLineTwo }}<br/></span>
        <span>{{ location.city }}<span ng-if="location.city">,</span> {{ location.state }} {{ location.postalCode }}</span><br/>
        <span>Store ID: {{ location.storeId }}</span><br/>
        <span>Total Sales: {{ location.metric }}</span><br/>
        <span>Region: {{ location.region }}</span>
      </a>
    </li>
  </ul>

</div>
